@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../../public/Gilroy-SemiBold.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../../public/Gilroy-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../public/Gilroy-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../public/Gilroy-Bold.ttf");
  font-weight: 400;
}

.toggle-switch-bigger {
  position: relative;
  display: inline-block;
  width: 26.6px; /* 20px * 1.33 (adjust the width) */
  height: 13.3px; /* 10px * 1.33 (adjust the height) */
}

.toggle-switch-bigger input {
  display: none;
}

.slider-bigger {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff12;
  border-radius: 6.67px; /* 5px * 1.33 (adjust the border-radius) */
  transition: 0.4s;
}

.slider-bigger:before {
  position: absolute;
  content: "";
  height: 8px; /* 6px * 1.33 (adjust the height of the sliding capsule) */
  width: 8px; /* 6px * 1.33 (adjust the width of the sliding capsule) */
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider-bigger {
  background-color: #6fff90;
}

input:checked + .slider-bigger:before {
  transform: translateX(
    13px
  ); /* 14px * 1.33 (adjust the translation for the bigger size) */
}

.slider-bigger.active {
  background-color: #6fff90;
}

.slider-bigger.active:before {
  transform: translateX(
    12.5px
  ); /* 14px * 1.33 (adjust the translation for the bigger size) */
}

.Gilroy-Semibold {
  font-family: "Gilroy-SemiBold";
}

.button-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.wave-effect {
  position: absolute;
  border-radius: 50%;
  background: #ffffff60; /* Adjust color as needed */
  transform: scale(0);
  animation: wave-animation 0.6s ease-out;
  pointer-events: none; /* Makes sure the wave doesn't interfere with clicks */
}

@keyframes wave-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* Add this CSS to your stylesheet */
.no-underline {
  text-decoration: none;
}

.Gilroy-Regular {
  font-family: "Gilroy-Regular";
}

.Gilroy-Bold {
  font-family: "Gilroy-Bold";
}

.Gilroy-Medium {
  font-family: "Gilroy-Medium";
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.input-capsule__input {
  flex-grow: 1;
  border: none;
  color: #ffffff;
  background-color: transparent;
  text-align: right;
  outline: none; /* Add this line to remove the default input border */
}

.transition-background {
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.notification-enter {
  animation: fadeIn 0.3s ease-out;
}

.notification-exit {
  animation: fadeOut 0.3s ease-out;
}

@keyframes progressBar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
